<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sato.tempscanner">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialThemeActionBar">
        <activity
            android:name=".ScanCheckOutActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name=".ExportDataActivity" />
        <activity
            android:name=".CheckOutActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".ScanDataActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".ScanResultActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name=".SettingActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScanQRActivity" />
        <activity
            android:name="com.idatachina.ise.camera.CameraPreview"
            android:screenOrientation="portrait" />
    </application>

</manifest>